/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: burlywood;
    padding: 40px;
    text-align: center;
}

/* Introduction Section Styling */
.introduction-section {
    background-color: brown;
    margin: 1000px;
    padding: 20px;
    
}

/* Skills Section Styling */
.skills {
    background-color: #ddd;
    margin: 20px;
    padding: 20px;
    font-size: larger;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    border: 1px solid #999;
    padding: 10px;
    margin-bottom: 10px;
}

/* Contact Information Section Styling */
.contact {
    background-color: #333;
    color: #fff;
    margin: 20px;
    padding: 20px;
}
